@using MusicStore.WebUI.Models

@model InstrumentsListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Instruments)
{
    if (!p.IsDeleted)
    {
        @Html.Partial("InstrumentSummary", p)
    }
}


<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo,
    x => Url.Action("List",
    new
    {
        page = x,
        category = Model.CurrentCategory
    }
    ))
</div>


